@import '../../styles.scss';

.about {
    text-align: center;

    .about_text {
        display: flex;
        margin-bottom: 40px;

        h2 {
            color: $secondary-font-color ;
            font-size: 64px;
            font-weight: 600;
            text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
            margin-bottom: 20px;
            width: 50%;
        }

        p {
            color: $secondary-font-color ;
        }
    }

    a {
          display: inline-block;
  background-color: #333;
  color: white;
  padding: 12px 24px;
  font-size: 16px;
  border: none;
  text-decoration: none;
  margin-top: 30px;
  border-radius: 4px;
  transition: background-color 0.3s ease;
    }
    a:hover{
          background-color: #555;
    }
}